doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Vanilla
        link(rel="stylesheet", href="Css/normalize.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css")
        link(rel="stylesheet", href="Js/OwlCarousel2/assets/owl.carousel.min.css")
        link(rel="stylesheet", href="Js/OwlCarousel2/assets/owl.theme.default.min.css")
        link(rel="stylesheet", href="Css/FontAwesome/css/all.min.css")
        link(rel="stylesheet", href="Css/style.css")
    body
        header.bg 
            .text 
                h1 Vanilla
                h2 #[span Vanilla] v4.2.1 Theme
                button.btn #[a(href="") discover more]
        section#services.bg.container-p
            .container
                .left
                    header
                        h2.underline More About Vanilla
                        p Vanilla is free HTML CSS template with Bootstrap v4.2.1 and you can apply this theme for your sites. Please share our #[a.link(href="") website] to your friends or collegues. Thank you.
                    ul
                        li - Praesent porta urna id eros
                        li - Curabitur consectetur malesuada
                        li - Nam pretium imperdiet enim
                        li - Sed viverra arcu non nisi efficitur
                    button.btn #[a(href="") Learn more About us]
                .right
                    .srv
                        h2.underline Classic Modern Design
                        p Sed lacinia ligula est, at venenatis ex iaculis quis. Morbi sollicitudin nulla eget odio pellentesque.
                    .srv
                        h2.underline Unique & Creative Ideas
                        p Sed lacinia ligula est, at venenatis ex iaculis quis. Morbi sollicitudin nulla eget odio pellentesque.
                    .srv
                        h2.underline Effective Team Work
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacinia ligula est, at venenatis ex iaculis quis.
                    .srv
                        h2.underline Fast Support 24/7
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacinia ligula est, at venenatis ex iaculis quis.
        section#portfolio.bg.container-p
            .container
                .owl-carousel
                    .pic.item
                        .img(style="background-image:url('Images/1st-big-item.jpg')")
                        h3 Awesome Note Book
                        span 18 
                    .pic.item
                        .img(style="background-image:url('Images/2nd-big-item.jpg')")
                        h3 Antique Decoration Photo
                        span 27
                    .pic.item
                        .img(style="background-image:url('Images/3rd-big-item.jpg')")
                        h3 Work Hand Bag
                        span 36
                    .pic.item
                        .img(style="background-image:url('Images/4th-big-item.jpg')")
                        h3 Smart Watch
                        span 27
                    .pic.item
                        .img(style="background-image:url('Images/5th-big-item.jpg')")
                        h3 PC Tablet Draw
                        span 63
                    .pic.item
                        .img(style="background-image:url('Images/6th-big-item.jpg')")
                        h3 Healthy Milkshake
                        span 77
        section#Story.bg.container-p
            .container
                #storyContainer
                #date
        section#form.container-p.bg 
            .container
                form
                    input(type="text" placeholder="Your Name")
                    input(type="email" placeholder="Your E-mail")
                    textarea(placeholder="Your Message...")
                    button(type="submit") Send Message
                <div class="mapouter"><div class="gmap_canvas"><iframe id="gmap_canvas" src="https://maps.google.com/maps?q=Sanaa&t=&z=5&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><style>.gmap_canvas {overflow:hidden;background:none!important;}</style></div></div>
        footer 
            button#toTop.btn Back To Top
            .icons
                i.fab.fa-facebook-f
                i.fab.fa-twitter
                i.fab.fa-linkedin
                i.fab.fa-google
                i.fab.fa-github
            span Copyright © 2019 Company Name - Design: #[a.link(href="#") TemplateMo]
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js")
        script(src="Js/OwlCarousel2/owl.carousel.min.js")
        script(src="Js/code.js")